<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icreate.projectx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/trialicon"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" 
        android:name="com.icreate.projectx.datamodel.ProjectxGlobalState" >
        <activity
            android:label="@string/app_name"
            android:name=".ProjectManagerActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="headerActivity"></activity>
        <activity android:name="newProjectActivity"></activity>
        <activity android:name="homeActivity"></activity>
        <activity android:name=".myProjectsActivity"></activity>
        <activity android:name="loginActivity"></activity>
        <activity android:name=".ProjectListActivity"></activity>
        <activity android:name="projectViewActivity"></activity>
        <activity android:name="newTaskActivity"></activity>
        <activity android:name="TaskListActivity"></activity>
        <activity android:name="TaskListBaseAdapter"></activity>
        <activity android:name="expandTaskViewActivity"></activity>
    </application>

</manifest>