<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icreate.projectx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="com.icreate.projectx.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.icreate.projectx.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".datamodel.ProjectxGlobalState"
        android:icon="@drawable/trialicon"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".ProjectManagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="headerActivity" >
        </activity>
        <activity android:name="newProjectActivity" >
        </activity>
        <activity android:name="homeActivity" >
        </activity>
        <activity android:name=".myProjectsActivity" >
        </activity>
        <activity android:name="loginActivity" >
        </activity>
        <activity android:name=".ProjectListActivity" >
        </activity>
        <activity android:name="projectViewActivity" >
        </activity>
        <activity android:name="newTaskActivity" >
        </activity>
        <activity android:name="TaskListActivity" >
        </activity>
        <activity android:name="expandTaskViewActivity" >
        </activity>
        <activity android:name="TaskViewActivity" >
        </activity>
        <activity android:name="MemberViewActivity" >
        </activity>
        <activity android:name="RefreshTest" >
        </activity>
        <activity
            android:name=".SelectAttendeesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectMeetingTimeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".CreateEventActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".PreferencesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".MeetingSchedulerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />
        <receiver
            android:name=".C2DMRegistrationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" >
                </action>

                <category android:name="com.icreate.projectx" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".C2DMMessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" >
                </action>

                <category android:name="com.icreate.projectx" />
            </intent-filter>
        </receiver>
    </application>

</manifest>